.root{
    border: 3px solid blue;
    width: auto; /* 横幅はウィンドウのサイズに自動調整 */
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    max-width: 90%;
    text-align: center; /* 親要素の中で中央揃え */
    justify-content: space-around;
    background-color: beige;
    display: flex;
    flex-direction: column;
}

.manzu {
    display: flex;
    justify-content: space-around;
}
.manzu img {
    display: inline-block;
    cursor: pointer;
    width: 10%;
    height: auto;
}

.pinzu {
    display: flex;
    justify-content: space-around;
}
.pinzu img {
    cursor: pointer;
    display: inline-block;
    width: 10%;
    height: auto;
}